p{
  color: #000000;
  font-family: 'Cardo', "Times New Roman", serif;
  font-size: 14px;
  max-width: 3000px;
}


h1{
  font-family: 'Montserrat', Arial, sans-serif;
  color: #04193F;
}

#h1top{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

h2{
  font-family: 'Montserrat', Arial, sans-serif;
  color: #04193F;
}

h3{
  font-family: 'Montserrat', Arial, sans-serif;
  color: #04193F;
}

body{
  background-color:#dedede;
}

img {
  border-style: none;
  width: 100%;
}

.aside{
  text-align: center;
}

#container{
  width: 95%;
  background-color: white;
  margin: 0 auto;
}

header {
  display: flex;
  flex-flow: row;
  background-color: #04193F;
  margin: 0;
  padding: 0 10px;
}

nav ul li {
  display: block;
  border-top: 1px white solid;
  color: white;
  font-family: 'Montserrat', Arial, sans-serif;
}

nav ul{
  display: none;
}

nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 18px 30px;
}

.menu-trigger {
  order: 1;
  font-size: 2em;
}
header h1{
  order: 2;
  color: white;
}

/*.navigation{
    list-style: none;
    margin:0;
    background-color: #04193F;
    padding: 0;
    display: block;
    display: flex;
    flex-flow:column wrap;
    font-size:1em;
    line-height:2em;
  }

.navigation a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size:1.5em;
    text-align: center;
  }
  .navigation a:link, a:visited {
    display: block;
    color:#ffffff;
    background-color: #04193F;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', Arial, sans-serif;
  }

  .navigation a:hover, a:active {
  background-color: #313A75;
  }*/
  .wrapper{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  }
  .wrapper2{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  }
#nav2{
  text-align: left;
}
  .aside{
    flex: 1 auto;
  }

  .main{
    display: flex;
    text-align: left;
    flex-flow: column;
  }


  .aside-0{
    background: grey;
  }

.aside-1{
  background: #f1431d;
  color: white;
  height: 200px;
}
  .aside-2{
    background: #208a43;
      color: white;
      height: 200px;
  }
  .aside-3{
    background: #f1ad1d;
      color: white;
      height: 200px;
  }
  .aside-4{
    background: #00aced;
      color: white;
      height: 200px;
  }

  .header, .main, .aside, .footer{
    flex:1 100%;
    padding: 10px;
  }

/*.navigation a{
  list-style-type: none;
  margin:0;
  display:block;
  padding: 10px;
  width: 100%;
  font-size:1.5em;
}*/

.aside-1, .aside-2, .aside-3, .aside-4, a:link{
  text-decoration: none;
}
.aside-1, .aside-2, .aside-3, .aside-4, a:visited{
  text-decoration: none;
}
/*.aside-1, .aside-2, .aside-3, .aside-4, a:hover{
  text-decoration: none;
  display: block;
  color: black;
}*/
.hide{
 display: block;
 background-color: grey;
 color: white;
 text-align: center;
 padding: 10px;
 font-size: 1.5em;
}

@media all and (max-width:599px){
 .wrapper2{
   visibility: hidden;
   display: none;
 }
}

@media all and (min-width:600px){
  .menu-trigger {
    display: none;
  }
  nav ul li {
    border: none;
  }
  .hide{
    visibility: hidden;
    display: none;
  }
  nav ul{
    display:flex;
    flex-flow: row;
  }
  header{
    order: 1;
  }
  nav{
    order: 2;
  }

  nav{
    display: flex;
    flex-flow: row;
    justify-content:flex-end;
    text-align: center;
    max-width: 620px;
  }
  nav a{
    flex: 1 100%;
  }

  header{
    order: 1;
    display: flex;
    flex-flow: row;
    justify-content:center;
  }
  nav{
    order: 2;
  }

img{
    width: 100%;
    margin-right: 10px;
}
.wrapper2{
display: flex;
flex-flow: row wrap;
}

.aside{
  flex: 1 auto;
}
.main{
  flex: 10 0px;
  display: flex;
  flex-flow:column;
}

/*.aside-0{
  order:2;
}
.main{
  order:1;
}*/
.intro{
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  padding-top: 0;
}
.aside-1{
  background: #f1431d;
  color: white;
  height: 240px;
}
  .aside-2{
    background: #208a43;
      color: white;
      height: 240px;
  }
  .aside-3{
    background: #f1ad1d;
      color: white;
      height: 240px;
  }
  .aside-4{
    background: #00aced;
    color: white;
    height: 240px;
  }
}

@media (min-width: 800px) {
  .menu-trigger {
    display: none;
  }
  nav ul li {
    border: none;
  }
  .hide{
    visibility: hidden;
    display: none;
  }
  nav ul{
    display:flex;
    flex-flow: row;
  }
  header{
    order: 1;
  }
  nav{
    order: 2;
  }

  nav{
    display: flex;
    flex-flow: row;
    justify-content:center;
    text-align: center;
  }
  nav a{
    flex: 1 100%;
  }

  .aside{
    flex: 1 auto;
  }
  .main{
    flex: 3 0px;
    display: flex;
    flex-flow:row;
  }

  /*.aside-0{
    order:2;
  }
  .main{
    order:1;
  }*/
  .intro{
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    padding-top: 0;
  }

img{
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
  .wrapper2{
  display: flex;
  flex-flow: row wrap;
}
  .wrapper2 img{
    width: 90%;
  }
}


#nav2 {
  list-style-type: none;
  text-decoration:none;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: italic;
}

#nav2 a:link{
    color:white;
}

#nav2 a:visited{
    color:#04193F;
}

#nav2 a:hover, a:active {
    color:#5E60AB;
}
/*
#nav3 {
  list-style-type: none;
  text-decoration:none;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: italic;
}

#nav3 a:link{
    color:#313A75;
}

#nav3 a:visited{
    color:#c52026;
}

#nav3 a:hover, a:active {
    color:#5E60AB;
}

#nav4 {
  list-style-type: none;
  text-decoration:none;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: italic;
}

#nav4 a:link{
    color:#313A75;
}

#nav4 a:visited{
    color:#c52026;
}

#nav4 a:hover, a:active {
    color:#5E60AB;
}*/

/*.caption{
  color:black;
  font-family:'Cardo', "Times New Roman", serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
  text-align:center;
}*/

#footer {
  color: white;
  font-family: 'Cardo', "Times New Roman", serif;
  font-size: 1em;
  border-top: 1px solid black;
  background-color: #04193F;
  display: block;
}

/*#more {
  list-style-type: none;
  text-decoration:none;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: italic;
}

#more a:link{
    color:#313A75;
}

#more a:visited{
    color:#c52026;
}

#more a:hover, a:active {
    color:#5E60AB;
}*/
